<header class="header">
  <nav class="container" role="navigation">
    <a class="header-brand" href="/">
      <img src="https://www.linode.com/media/images/header/linode-logo.svg"
           width="115" height="45" />
      <span class="header-title">Engineering</span>
    </a>
    <a href="https://engineering.linode.com/feed.xml">
      <i class="fa fa-rss"></i>
    </a>
    <span class="header-text float-xs-right">
      <a href="https://linode.com/careers">We're hiring!</a>
    </span>
  </nav>
</header>
